# IDEs and development tools
.idea
.vscode
.ruff_cache

# Results
output
*.pdf
*.zip
git-version.txt
git-date.txt

# Python
__pycache__

# StepUp
.stepup

# Software environment
activate
.loadvenv
venv
venvs
.envrc
pre-commit-*.pyz

# Other
tmp
pkgs
slurm-*.*
*.bak
