# SPDX-FileCopyrightText: © 2026 ACID Contributors <https://doi.org/10.5281/zenodo.15722902>
# SPDX-License-Identifier: CC-BY-SA-4.0

2_zenodo/zenodo.* export-ignore
2_zenodo/.zenodo-record-id.txt export-ignore
